.hero__textTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.hero__textTop h1 {
	color: #0c0b0b;
	font-size: 5rem;
	font-weight: 600;
}

.hero__textTop hr {
	width: 200px;
	height: 6px;
	border-radius: 10px;
	background-color: #0c0b0b;
}

.hero {
	height: 100vh;
	background-image: linear-gradient(to top, rgba(154, 21, 21, 0), rgb(75, 68, 68));
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
}

.hero__text {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase;
}

.hero__text p {
	color: #0c0b0b;
	font-size: 10rem;
	font-weight: 700;
}

.hero__img--Woman,
.hero__img--Woman img,
.hero__img--Man,
.hero__img--Man img {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.hero__btn {
	font-size: 1.6rem;
	cursor: pointer;
	border-radius: 25px;
	padding: 1rem 4rem;
	transition: 0.3s;
	border: 1px solid #ce1446;
	background-color: #ce1446;
	color: #f8f8ff;
}

.hero__btn:hover,
.hero__btn:active {
	background-color: #ffe6dc;
}

.hero__btn:hover,
.hero__btn:active {
	background-color: #f8f8ff;
	color: #ce1446;
}
