.newsletter {
	border-radius: 25px;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 5rem 14rem;
	margin-bottom: 10rem;
	background: linear-gradient(180deg, #ce1446 0%, #e1ffea22 70%);
	gap: 3rem;
}

.newsletter h1 {
	color: #0c0b0b;
	font-size: 6rem;
	font-weight: 600;
	text-align: center;
}

.newsletter p {
	color: #0c0b0b;
	font-size: 2rem;
}

.newsletter__control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f8f8ff;
	border-radius: 25px;
	border: 1px solid #e3e3e3;
}

.newsletter__control input {
	width: 500px;
	margin-left: 3rem;
	border: none;
	outline: none;
	color: #616161;
	font-size: 1.6rem;
}

.newsletter__control button {
	padding: 1rem 4rem;
	border-radius: 25px;
	background-color: #0c0b0b;
	color: #f8f8ff;
	font-size: 1.6rem;
	cursor: pointer;
	transition: 0.3s;
}

.newsletter__control button:hover,
.newsletter__control button:active {
	background-color: #f8f8ff;
	color: #0c0b0b;
}

.newsletter__invalid p {
	color: #aa0b20;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 1rem;
}
