.team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0c0b0b;
	width: 100%;
	padding: 6% 10% 10%;
}

.team__text {
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.team__text h4 {
	color: #ce1446;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.team__text h1 {
	color: #f8f8ff;
	font-size: 3.6rem;
	text-transform: capitalize;
	font-weight: 700;
	line-height: 46px;
	margin-bottom: 3rem;
}

.team__text hr {
	width: 30%;
	border: none;
	height: 2px;
	background-color: #ce1446;
	margin-bottom: 50px;
}

.team__text p {
	min-width: 600px;
	color: #f8f8ff;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 6rem;
}

.team__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	background-color: #0c0b0b;
	gap: 6rem;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
/* 
@media (max-width: 1150px) {
	.team__container {
		grid-template-columns: 1fr 1fr;
		width: -moz-fit-content;
		width: fit-content;
	}
}

@media (max-width: 800px) {
	.team__container {
		grid-template-columns: 1fr;
		width: -moz-fit-content;
		width: fit-content;
	}
} */

.team__card {
	position: relative;
	width: 35rem;
	height: 45rem;
	border-radius: 2rem;
	text-align: center;
	background-position: center;
	background-size: cover;
	color: #f8f8ff;
	box-shadow: 4px 4px 30px 0px #f8f8ff;
	overflow: hidden;
}

.team__btn {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 1rem;
	background: none;
	border: none;
	color: #ce1446;
	font-size: 5rem;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	cursor: crosshair;
	z-index: 10;
}

.team__btn:hover ~ .team__cardText {
	clip-path: circle(120% at 50% 90%);
}

/* 
@media (max-width: 400px) {
	.team__card {
		width: 100%;
	}
} */

.team__cardText {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #f8f8ff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5rem 3rem;
	background-color: rgba(0, 0, 0, 0.8);
	clip-path: circle(0 at 50% 90%);
	transition: 0.8s;
}

.team__cardText h1 {
	font-size: 4rem;
	color: #ce1446;
}

.team__cardText h2 {
	font-size: 1.6rem;
	margin-bottom: 0.8rem;
	color: #f8f8ff;
}
