.item {
	width: 350px;
	margin: 0 2px;
}

.item img {
	border-radius: 8px;
	box-shadow: 4px 4px 20px 0px rgb(188, 166, 166);
}

.item p {
	margin: 6px 0;
	font-size: 20px;
}

.item__prices {
	display: flex;
	gap: 20px;
}

.item__price--new {
	color: #374151;
	color: #ce1446;

	font-size: 18px;
	font-weight: 600;
}

.item__price--old {
	color: #8c8c8c;
	font-size: 18px;
	font-weight: 500;
	text-decoration: line-through;
}

.item:hover {
	transform: scale(1.1);
	transition: 0.6s;
}
/* 
.item img {
	border-radius: 25px;
} */
