.item {
	width: 350px;
	transition: 0.4s ease-in-out;
}

.item img {
	border-radius: 8px;
	box-shadow: 4px 4px 20px 0px rgb(188, 166, 166);
}

.item p {
	margin: 0.5rem 0;
	font-size: 20px;
}

.item__prices {
	display: flex;
	gap: 2rem;
}

.item__price--new {
	color: #ce1446;
	font-size: 2rem;
	font-weight: 600;
}

.item__price--old {
	color: #8c8c8c;
	font-size: 1.9rem;
	font-weight: 500;
	text-decoration: line-through;
}

.item:hover {
	transform: scale(1.1);
}
