.wrapper {
	/* margin-top: 200px; */
	/* margin-bottom: 200px; */
	display: flex;
	/* width: 100vw; */
	justify-content: center;
	align-items: center;
	/* margin: 120px 170px; */
	width: 90%;
}

.accordion {
	/* width: 500px; */
	margin: 120px 170px;
	width: 100%;
}

.item {
	background-color: #f0ebe1;
	margin-bottom: 5px;
	padding: 15px 25px;
}

.title {
	color: #85662b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.content {
	color: #8b7f75;
	/* background-color: red; */
	/* height: 200px; */
	/* width: 100px; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* width: 100%; */
	/* height: 200px; */

	/* padding: 20px 20px; */
	/* flex-wrap: wrap; */
	max-height: 0;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}

.content.show {
	height: auto;
	max-height: 9999px;
	transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}
