.wrapper {
	display: flex;
	justify-accordion__itemcontent: center;
	align-items: center;
	width: 100%;
}

.accordion {
	margin: 120px 170px;
	width: 100%;
}

.accordion__item {
	background-color: #f0ebe1;
	margin-bottom: 5px;
	padding: 15px 25px;
	border-radius: 5px;
	transition: background-color 0.4s;
}

.accordion__item:hover {
	background-color: #e7d6bc;
}

.accordion__itemTitle {
	color: #5f430e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.accordion__itemTitle span {
	font-size: 32px;
}

.accordion__itemContent {
	color: #8b7f75;

	max-height: 0;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}

.accordion__itemContent p {
	color: black;
}

.accordion__itemContent.accordion__itemShow {
	height: auto;
	max-height: 9999px;
	transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}
