.form {
	margin: 1rem 0;
}

.form__control {
	margin-bottom: 0.5rem;
}

.form__control label {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 0.25rem;
	display: block;
}

.form__control input {
	font-size: 1.6rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 50rem;
	max-width: 100%;
}

.form__actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.form__actions button {
	font-size: 1.6rem;
	color: #ce1446;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 25px;
	padding: 1rem 4rem;
	transition: 0.3s;
}

.form__actions button:hover,
.form__actions button:active {
	background-color: #ffe6dc;
}

.form__actions .form__submit {
	background-color: #ce1446;
	border: 1px solid #ce1446;
	color: #f8f8ff;
	font-weight: 600;
}

.form__actions .form__submit:hover,
.form__actions .form__submit:active {
	background-color: #f8f8ff;
	color: #ce1446;
}

.invalid p {
	color: #aa0b20;
	font-size: 1.2rem;
}

.invalid input {
	border-color: #aa0b20;
	background-color: #ffeff1;
}
