.contact {
	position: relative;
	min-height: 100vh;
	padding: 4% 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(51, 49, 49, 0.6)), url('http://localhost:3000/image-7.jpg');
	/* background-position: center; */
	background-size: cover;
}

.contact-content {
	max-width: 800px;
	/* text-align: center; */
}

.contact-content h2 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.contact-content h4 {
	color: #ce1446;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.contact-content p {
	font-weight: 300;
	color: #fff;
	margin-bottom: 30px;
}

.contact-content hr {
	width: 100%;
	border: none;
	height: 2px;
	background-color: #ce1446;
	margin-bottom: 50px;
}

.contact-container {
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

.contact-container-map iframe {
	width: 400px;
	height: 300px;
	border-radius: 16px;
}

.contact-container-contactInfo {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-container-contactInfo-box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact-container-contactInfo-box-icon {
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.contact-container-contactInfo-box-text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.contact-container-contactInfo-box-text h3 {
	font-weight: 500;
	color: #ce1446;
}

.contact-container-contactInfo-box-text a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.contact-container-contactForm {
	width: 40%;
	padding: 40px;
	background: #fff;
	border-radius: 16px;
}

.contact-container-contactForm h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contact-container-contactForm-inputBox {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contact-container-contactForm-inputBox input,
.contact-container-contactForm-inputBox textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border: 1px solid #333;
	outline: none;
	resize: none;
}

.contact-container-contactForm-inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact-container-contactForm-inputBox input:focus ~ span,
.contact-container-contactForm-inputBox input:valid ~ span,
.contact-container-contactForm-inputBox textarea:focus ~ span,
.contact-container-contactForm-inputBox textarea:valid ~ span {
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-container-contactForm-actions {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.contact-container-contactForm-actions button {
	font: inherit;
	color: #5a1a01;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 25px;
	padding: 0.5rem 2rem;
	transition: 0.4s;
}

.contact-container-contactForm-actions button:hover,
.contact-container-contactForm-actions button:active {
	background-color: #ffe6dc;
}

.contact-container-contactForm-actions .submit {
	border: 1px solid #5a1a01;
	/* background-color: #5a1a01; */
	background-color: #ce1446;
	color: white;
	transition: 0.4s;
}

.contact-container-contactForm-actions .submit:hover,
.contact-container-contactForm-actions .submit:active {
	background-color: white;
	color: #ce1446;
}

@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}
	.contact-container {
		flex-direction: column;
	}
	.contact-container-contactInfo {
		margin-bottom: 40px;
	}
	.contact-container-contactInfo,
	.contact-container-contactForm {
		width: 100%;
	}
}
