.contact {
	min-height: 100vh;
	padding: 4% 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-position: center;
	background-color: #0c0b0b;
	background-size: cover;
}

.contact__heading {
	max-width: 800px;
	/* text-align: center; */
}

.contact__heading h1 {
	font-size: 3.6rem;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin-bottom: 3rem;
}

.contact__heading h4 {
	color: #ce1446;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.contact__heading p {
	font-size: 1.6rem;
	font-weight: 300;
	color: #fff;
	margin-bottom: 3rem;
}

.contact__heading hr {
	width: 100%;
	border: none;
	height: 2px;
	background-color: #ce1446;
	margin-bottom: 5rem;
}

.contact__container {
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	margin-top: 3rem;
}

.contact__mapContainer iframe {
	width: 400px;
	height: 300px;
	border-radius: 16px;
}

.contact__info {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact__infoBox {
	position: relative;
	padding: 2rem 0;
	display: flex;
}

.contact__infoText h3 {
	font-size: 2rem;
}

.contact__infoText p {
	font-size: 1.6rem;
}

.contact__icon {
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 4rem;
}

.contact__infoText {
	display: flex;
	margin-left: 2rem;
	font-size: 1.6rem;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.contact__infoText h3 {
	font-weight: 500;
	color: #ce1446;
}

.contact__infoText a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #fff;
}

.contact__form {
	width: 40%;
	padding: 4rem;
	background: #fff;
	border-radius: 16px;
}

.contact__form h2 {
	font-size: 3rem;
	color: #333;
	font-weight: 700;
}

.contact__inputBox {
	position: relative;
	width: 100%;
	margin-top: 1rem;
}

.contact__inputBox input,
.contact__inputBox textarea {
	width: 100%;
	padding: 0.5rem 0;
	font-size: 1.6rem;
	margin: 1rem 0;

	padding: 0.5rem;
	font-size: 1.6rem;
	border-radius: 4px;
	background-color: #869999;
	color: #142020;

	border: 1px solid #333;
	outline: none;
	resize: none;
}

.contact__inputBox span {
	position: absolute;
	left: 0;
	padding: 0.5rem 0;
	font-size: 1.6rem;
	margin: 1rem 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact__inputBox input:focus ~ span,
.contact__inputBox input:valid ~ span,
.contact__inputBox textarea:focus ~ span,
.contact__inputBox textarea:valid ~ span {
	color: #e91e63;
	font-size: 1.2rem;
	transform: translateY(-20px);
}

.contact__formActions {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.contact__formActions button {
	font-size: 1.6rem;
	color: #5a1a01;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 25px;
	padding: 1rem 4rem;
	transition: 0.4s;
}

.contact__formActions button:hover,
.contact__formActions button:active {
	background-color: #ffe6dc;
}

.contact__formActions .submit {
	border: 1px solid #ce1446;
	background-color: #ce1446;
	color: white;
	transition: 0.4s;
}

.contact__formActions .submit:hover,
.contact__formActions .submit:active {
	background-color: white;
	color: #ce1446;
}

@media (max-width: 991px) {
	.contact {
		padding: 50px;
	}
	.contact__container {
		flex-direction: column;
	}
	.contact__info {
		margin-bottom: 40px;
	}
	.contact__info,
	.contact__form {
		width: 100%;
	}
}
