.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1%;
	border-bottom: 1px solid #0c0b0b;
	background-color: #f8f8ff;
	min-height: 15vh;
}

.navbar__logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar__logo img {
	width: 90px;
	height: 90px;
}

.navbar__logo a {
	text-decoration: none;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 5rem;
	color: #626262;
	font-weight: 500;
}

.navbar__menu li {
	font-size: 3rem;
	cursor: pointer;
}

.navbar__menu a {
	text-decoration: none;
	color: #0c0b0b;
	font-weight: 500;
	transition: 0.3s;
}

.navbar__menu a:hover,
.navbar__menu a.active {
	color: #ce1446;
	text-decoration: underline;
}

.navbar__loginCart {
	display: flex;
	align-items: center;
	gap: 4.5rem;
}

.navbar__loginCart a {
	text-decoration: none;
}

.navbar__btn {
	font-size: 1.6rem;
	cursor: pointer;
	padding: 1rem 4rem;
	border-radius: 25px;
	border: none;
	background-color: #0c0b0b;
	border: 1px solid #0c0b0b;
	color: #f8f8ff;
	transition: 0.3s;
}
.navbar__btn:active,
.navbar__btn:hover {
	background-color: #f8f8ff;
	color: #0c0b0b;
}

.navbar__dropdown {
	display: none;
}

.navbar__btnMobile {
	display: none;
}

@media (max-width: 768px) {
	.navbar__dropdown {
		display: block;
		width: 65px;
		transition: 0.4s;
	}

	.navbar__menu {
		display: none;
		height: 100px;
		width: 100%;
		position: absolute;
		background-color: #f8f8ff;
		/* background-color: blue; */
		justify-content: center;
		top: 40%;
		font-size: 3rem;
	}

	.navbar__menu li {
		font-size: 4rem;
	}

	.navbar__menu--visible {
		display: flex;
		flex-direction: column;
	}

	.navbar__dropdown--open {
		transform: rotate(90deg);
	}
}

@media (max-width: 568px) {
	.navbar {
		padding: 0.5%;
		justify-content: space-around;
		background-image: radial-gradient(circle, rgba(252, 89, 168, 1) 20%, rgba(86, 41, 42, 0) 100%);
	}

	.navbar__logo img {
		transform: scale(0.6);
	}

	.navbar__btn {
		display: none;
	}

	.navbar__btnMobile {
		display: block;
		width: 40px;
	}
}
