.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
	padding: 1%;
	box-shadow: 0 1px 3px #0c0b0b;
}

.navbar__logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar__logo img {
	width: 90px;
	height: 90px;
}

.navbar__logo a {
	text-decoration: none;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 5rem;
	color: #626262;
	font-weight: 500;
}

.navbar__menu li {
	font-size: 3rem;
	cursor: pointer;
}

.navbar__menu a {
	text-decoration: none;
	color: #0c0b0b;
	font-weight: 500;
	transition: 0.3s;
}

.navbar__menu a:hover,
.navbar__menu a.active {
	color: #ce1446;
	text-decoration: underline;
}

.navbar__loginCart {
	display: flex;
	align-items: center;
	gap: 4.5rem;
}

.navbar__loginCart a {
	text-decoration: none;
}

.navbar__btn {
	font-size: 1.6rem;
	cursor: pointer;
	padding: 1rem 4rem;
	border-radius: 25px;
	border: none;
	background-color: #0c0b0b;
	border: 1px solid #0c0b0b;
	color: #f8f8ff;
	transition: 0.3s;
}
.navbar__btn:active,
.navbar__btn:hover {
	background-color: #f8f8ff;
	color: #0c0b0b;
}

.navbar__dropdown {
	display: none;
}

.navbar__dropdown i {
	font-size: 50px;
}

@media (max-width: 800px) {
	.navbar__dropdown {
		display: block;
		rotate: -90deg;
		transition: 0.5s;
	}

	.navbar__menu {
		height: 80px;
		display: none;
		width: 100%;
		position: absolute;
		background-color: #f8f8ff;
		justify-content: center;
		top: 15vh;
	}

	.navbar__menu__visible {
		display: flex;
	}

	.navbar__menu__open {
		transform: rotate(90deg);
		color: red;
	}
}
