.navbar {
	display: flex;
	/* position: fixed; */
	/* top: 0; */
	left: 0;
	width: 100%;
	/* height: 10vh; */
	justify-content: space-around;
	padding: 16px;
	box-shadow: 0 1px 3px black;
	/* background-color: blue; */
}

.nav-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-logo img {
	width: 90px;
	height: 90px;
}

.nav-logo p {
	color: #171717;
	font-size: 38px;
	font-weight: 600;
}

.nav-logo a {
	text-decoration: none;
}

.nav-menu {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 50px;
	color: #626262;
	font-weight: 500;
}

.nav-menu li {
	cursor: pointer;
}

.nav-menu a {
	text-decoration: none;
	color: black;
	font-weight: 500;

	transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
	color: #ce1446;
	text-decoration: underline;
}

.nav-login-cart {
	display: flex;
	align-items: center;
	gap: 45px;
}

.nav-login-cart a {
	text-decoration: none;
}

.nav-login-cart-button {
	font-size: 16px;
	cursor: pointer;
	padding: 0.75rem 3rem;
	border-radius: 25px;
	border: none;
	/* background-color: #ce1446;
	border: 1px solid #ce1446; */
	background-color: black;
	border: 1px solid black;
	color: white;
	font-weight: bold;
	transition: 0.4s;
}
.nav-login-cart-button:active,
.nav-login-cart-button:hover {
	/* background-color: white;
	color: #ce1446; */
	background-color: white;
	color: black;
}
