.newCollections {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-bottom: 10rem;
}

.newCollections h1 {
	color: #171717;
	font-size: 5rem;
	font-weight: 600;
}

.newCollections hr {
	width: 200px;
	height: 6px;
	border-radius: 10px;
	background: #252525;
}

.newCollections__collection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 5rem;
	gap: 2rem;
}
