.footer {
	border: 1px solid rgba(0, 0, 0, 0.15);
	width: 100%;
	height: auto;
	padding: 30px 80px;
	background: #fff;
}
.footer__container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-gap: 30px;
}

.footer__section.footer__aboutUs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.footer__section.footer__aboutUs img {
	width: 100px;
	height: 100px;
}

.footer__section h2 {
	color: #333;
	font-weight: 600;
	margin-bottom: 15px;
}

.footer__section .footer__qualityText {
	color: #ce1446;
	font-style: italic;
	text-shadow: 0px 0px 2px #ce1446;
}

.footer__section .footer__text {
	font-style: italic;
}

.footer__quicklinks ul li {
	list-style: none;
	text-decoration: none;
	margin-bottom: 10px;
	transition: 0.3s;
}

.footer__quicklinks ul li:hover {
	color: #e91e63;
	transform: scale(1.15);
}

.footer__quicklinks ul a {
	text-decoration: none;
	color: #555;
}
.footer__contactInfo li {
	display: grid;
	grid-template-columns: 30px 1fr;
	margin-bottom: 16px;
}

.footer__contactInfo li span {
	color: #555;
	font-size: 20px;
}

.footer__contactInfo li a {
	color: #555;
	text-decoration: none;
}

.copyrightText {
	width: 100%;
	font-size: 14px;
	background: #fff;
	padding: 20px 100px 30px;
	text-align: center;
	color: #555;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
	.footer {
		padding: 40px;
	}

	.footer .footer__container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.copyrightText {
		padding: 20px 40px 30px;
	}
}

@media (max-width: 768px) {
	.footer .footer__container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
}
