.testimonials {
	padding: 6% 10% 10%;
	width: 100%;
	background-color: #0c0b0b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.testimonials_headerText {
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.testimonials_headerText h4 {
	color: #ce1446;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.testimonials_headerText h1 {
	color: #f8f8ff;
	font-size: 3.6rem;
	text-transform: capitalize;
	font-weight: 700;
	line-height: 46px;
	margin-bottom: 3rem;
}

.testimonials_headerText hr {
	width: 30%;
	border: none;
	height: 2px;
	background-color: #ce1446;
	margin-bottom: 5rem;
}

.testimonials_headerText p {
	min-width: 600px;
	color: #f8f8ff;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 6rem;
}

.testimonials__items {
	margin-top: 2rem;
	width: 900px;
	height: auto;
}

.testimonials__item {
	padding: 1rem 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f8f8ff;
	background-image: linear-gradient(to top, rgba(182, 173, 173, 0), rgb(79, 75, 75));
	color: #0c0b0b;
	border-radius: 50px;
	border: 3px solid #0c0b0b;
	height: 590px;
}

.testimonials__item img {
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.testimonials__itemTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.testimonials__itemDown {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.8rem;
}

.testimonials__itemDown p {
	font-size: 1.6rem;
}

.testimonials__name {
	font-size: 2rem;
	color: #ce1446;
	margin-bottom: 1rem;
}
