* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

.main-colors {
	/* main black */
	background-color: #0c0b0b;

	/* main red */
	color: #ce1446;

	/* dark red invalid elements  */
	color: #aa0b20;

	/* light red in buttons */
	background-color: #d85477;

	/* cancel font in buttons   */
	color: #5a1a01;

	/* main white  */
	color: #f8f8ff;

	/* second white  */
	background-color: #ffe6dc;

	/* background input color  */
	background: #e2e2e2;

	/* third grey  */
	color: #555;

	/* description box background color hover  */
	background-color: #c3b6b6;

	

	/* ok ALL ABOVE  */
	/* ok ALL ABOVE  */
	/* ok ALL ABOVE  */
	/* ok ALL ABOVE  */
	/* ok ALL ABOVE  */

	

	/* font size main  */
	font-size: 1.6rem;

	/* font size bigger  */
	font-size: 2.4rem;
}
