.breadcrum {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #5e5e5e;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 6rem 17rem;
	text-transform: capitalize;
}

.breadcrum a {
	font-size: 1.6rem;
}
