.relatedproducts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 10rem;
}

.relatedproducts h1 {
	color: #0c0b0b;
	font-size: 5rem;
	font-weight: 600;
}

.relatedproducts hr {
	width: 200px;
	height: 6px;
	border-radius: 10px;
	background-color: #0c0b0b;
}

.relatedproducts__item {
	margin-top: 5rem;
	display: flex;
	gap: 3rem;
}
