.popular {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 10rem;
	/* height: 90vh; */
	/* height: 100vh; */
}

.popular h1 {
	color: #171717;
	font-size: 5rem;
	font-weight: 600;
}

.popular hr {
	width: 200px;
	height: 6px;
	border-radius: 10px;
	background: #252525;
}

.popular__item {
	margin-top: 5rem;
	gap: 2rem;
	margin: 2rem 17rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 8rem;
}
