.imgslider {
	height: 100%;
	position: relative;
	width: 500px;
	
}

.imgsliderArrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	color: #776d6d;
	z-index: 1;
	cursor: pointer;
}

.imgsliderArrowLeft {
	left: 16px;
}

.imgsliderArrowRight {
	right: 16px;
}

.imgslider-slide {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}

.imgslider-dots {
	display: flex;
	justify-content: center;
	color: #776d6d;
}

.imgslider-dots-item {
	margin: 0 3px;
	cursor: pointer;
	font-size: 20px;
}
