.imgSlider {
	height: 100%;
	position: relative;
	width: 500px;
}

.imgSlider__arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 6rem;
	color: #776d6d;
	z-index: 1;
	cursor: pointer;
}

.imgSlider__arrow--left {
	left: 16px;
}

.imgSlider__arrow--right {
	right: 16px;
}

.imgSlider__slide {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}

.imgSlider__dots {
	display: flex;
	justify-content: center;
	color: #776d6d;
}

.imgSlider__dot {
	margin: 0 0.5rem;
	cursor: pointer;
	font-size: 3rem;
}
