.productdisplay {
	display: flex;
	margin: 0 20px;
}

.productdisplay__sliderContainer {
	/* width: 700px;
	height: 580px; */
	margin: 0 20px;
}

.productdisplay__left {
	display: flex;
	gap: 17px;
}

.productdisplay__imgList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.productdisplay__imgList img {
	height: 160px;
}

.productdisplay__right {
	display: flex;
	flex-direction: column;
	margin: 0 30px;
}

.productdisplay__right h1 {
	color: #3d3d3d;
	font-size: 40px;
	font-weight: 700;
}
.productdisplay__stars {
	display: flex;
	align-items: center;
	margin-top: 13px;
	gap: 5px;
	color: #1c1c1c;
	font-size: 16px;
}

.productdisplay__prices {
	display: flex;
	margin: 40px 0;
	gap: 30px;
	font-size: 36px;
	font-weight: 700;
}

.productdisplay__priceOld {
	color: #818181;
	text-decoration: line-through;
}

.productdisplay__priceNew {
	color: #ff4141;
}

.productdisplay__selects h1 {
	margin-top: 5px;
	color: #656565;
	font-size: 20px;
	font-weight: 600;
}

.productdisplay__right button {
	margin-top: 36px;
	padding: 20px 40px;
	width: 200px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	background: #ce1446;
	margin-bottom: 40px;
	border: 1px solid black;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.productdisplay__right button:hover,
.productdisplay__right button:active {
	color: #ce1446;
	background: white;
}

.productdisplay__rightCategory {
	margin-top: 10px;
}

.productdisplay__rightCategory span {
	font-weight: 600;
}

.productdisplay__selectContainer {
	display: flex;
	justify-content: flex-start;
	position: relative;
	min-width: 250px;
	width: 100px;
	height: 50px;
}

.productdisplay__selectBox {
	/* border: none; */
	appearance: none;
	padding: 0 30px 0 15px;
	width: 100%;
	color: black;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
}

.productdisplay__selectContainer .productdisplay__iconContainer {
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ce1446;
	font-size: 20px;
	color: white;
}
